/* general properties */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* app videos */

.App-box {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	font-size: 10px;
	/* border: 2px red solid; */
}

.App {
  text-align: center;
  color: white;
  display: flex;
	flex-direction: column;
}

.card {
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: row;
  border: rgba(255, 255, 255, 0.123) 1px solid;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.39);
  /* backdrop-filter: blur(3px); */
  -webkit-backdrop-filter: blur(3px);
	position: relative;
	/* border: 3px green solid; */
}

#slide {
  position: absolute;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  line-height: 25px;
  background: var(--base);
  left: -500px;
  height: 100%;
  width: 100%;
  z-index: 11;
}

.slide-open {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 1.0s forwards ease-in;
  animation-delay: 0.1s;
}

.slide-close {
  -webkit-animation: slide 0.5s backwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 1.0s backwards ease-in;
  animation-delay: 0.1s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes close {
  100% {
    right: 0;
  }
}

@-webkit-keyframes close {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.center-intro {
  background: #3f4447;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.39);
  /* flex: 1; */
	flex-basis: 70%;

}

.avatar-box {
  box-sizing: border-box;
}

.avatar-box img {
  height: 150px;
  /* align-self: flex-start; */
}

#logo {
  width: 100px;
  opacity: 0.1;
}

#code {
  font-size: 40px;
}

#bottom {
  background: url("./images/prism.png");
  background-repeat: repeat;
  height: 100%;
  position: relative;
}

#bottom p {
  /* background: red; */
  z-index: 10;
  font-family: "Orbitron", sans-serif;
}

.overlay {
  background: rgba(63, 68, 71, 0.5);
  /* width: 100%; */
  height: 100%;
  position: absolute;
  width: 100%;
}

.nav-intro {
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.39);
  display: flex;
  flex-direction: column;
  background: rgba(63, 68, 71, 0.404);
  /* height: 100px; */
  flex-basis: 30%;
}

.items {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  list-style: none;
  /* padding: 5px; */
}

.icon {
  /* border: rgba(255, 255, 255, 0.062) 1px solid; */
  border-bottom: #3f4447 1px solid;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.24);
  width: 40px;
}

.items:hover {
  background: rgba(63, 68, 71, 0.733);
  cursor: pointer;
}

.icon-hover {
  color: darkgrey;
}

.nav {
  margin-left: 4px;
  display: flex;
  align-items: center;
  width: 100px;
  border-bottom: #3f4447 1px solid;
}

.last-nav,
.last-icon {
  border-top: unset;
}

.first-icon {
  border-top: #3f4447 1px solid;
}

.nav-box {
  /* opacity: 0; */
  transition: opacity 1.5s;
  /*   
  border: red 1px solid;
  position: absolute;
  left: 300px;
  height: 100%; */
}

.nav-box-container {
  border: 1px rgba(255, 255, 255, 0.11) solid;
  height: 80%;
}

.col-items {
  padding: 10px;
  list-style: none;
  flex-basis: 50%;
}

.col-items:hover {
  background: rgba(63, 68, 71, 0.733);
  cursor: pointer;
}

.nav-box-container .icon {
  color: darkgrey;
}

.portfolio-page {
  /* margin: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-size: 12px;
  box-sizing: border-box;
  padding-right: 50px;
	padding-left: 150px;
	margin-bottom: 70px;
}

/* .portfolio-container{
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.171);
  background: rgba(128, 128, 128, 0.199);
  width: 75vw;
  overflow: hidden;
} */

/* portfolio shelf closer */
#closer {
  font-size: 25px;
  /* border: red 1px solid; */
  justify-content: flex-end;
  padding: 10px;
  color: darkgrey;
  cursor: pointer;
}

/* portfolio shelf  items*/
.shelf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  /* width: 75vw; */
  /* overflow-y: scroll; */
  box-sizing: content-box;
  /* border: 1px red solid; */
  padding: 0px 50px;
  padding-left: 80px;
}

.skill-container {
  border: rgba(255, 255, 255, 0.089) 1px solid;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.479);
  width: 300px;
  margin: 10px;
}

.skill-container section > img {
  width: 300px;
  height: 150px;
}

.skill-container p:nth-child(2) {
  font-family: "Orbitron", sans-serif;
}

.skill-container p:nth-child(3) {
  font-family: "Questrial", sans-serif;
}

.skill-container section {
  /* border: rgba(220, 220, 220, 0.082) 5px solid; */
}

.skill-container span {
  text-decoration: underline;
  font-size: 10px;
  line-height: 20px;
}

.links {
  color: white;
  cursor: pointer;
}

.main {
  /* position: relative; */
  /* height: 100vh; */
  position: relative;
}

.backdrop {
  background-image: url("./images/undraw_developer_activity_bv83.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  z-index: -20;
  height: 100%;
  width: 100%;
  filter: grayscale() opacity(0.2);
}

.bg-image {
  background-image: url("./images/undraw_developer_activity_bv83.svg");
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 200px;
  left: 200px;
  filter: grayscale(1) opacity(0.1);
  -webkit-filter: grayscale(1) opacity(0.1);
  z-index: -5;
  background-attachment: fixed;
  /* -webkit-filter: blur(8px); */
  /* border: 5px yellow solid; */
}

/* 
Header Styles */
.header {
  /* border: 3px solid red; */
  margin-bottom: 40px;
  justify-content: space-between;
  padding: 20px;
}

nav li {
  text-decoration: none;
  list-style: none;
}

#terminal {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  margin-right: 20px;
}

/* footer styles */
.footer {
  /* background: #0f0f0f60; */
	/* font-size: 12px; */
	height: 10vh;
	background: #232526;  /* fallback for old browsers */
} 

.footer img{
	width: 20px;
	margin: 10px;
}


/* menu portal */
.menu-background{
	position: absolute;
	z-index: 9;
	/* background: brown; */
	padding-top: 20px;
	height: 10vh;
	  top: 4.5%;
  right: 3.9%;
	bottom: 20%;
	border-right: white solid 1px;
}

.menu-content{
	/* position: fixed; */
  /* top: 7%;
  right: 2%;
	bottom: 20%; */
	padding: unset;
  width: 50px;
  height: 100px;
	z-index: 10;
	/* background: #2325264b; */
	color: white;
	text-align: left;
}

.menu-content > p {
	/* background: black; */
	color: white;
	text-align: right;
	padding-right: 7px;
	border-bottom: 1px solid white;
	padding-left: unset;
}