@import url("https://fonts.googleapis.com/css?family=Orbitron:500|Questrial&display=swap");

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

:root {
	 /* min-height: 100vh; */
  --base: #2f3437;
  --spacing: 10px;
  --filter: grayscale(1) opacity(0.1);
  --bodyFont: {
	}
}

/* html{
	min-height: 100vh;
	min-width: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	/* background: var(--base); */
	background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
